parameters:
    level: 5
    phpVersion: 80000
    paths:
        - src/
        - tests/
    excludePaths:
        - src/Laravel/*
        - src/ThinkPHP/*
        - src/Hyperf/*
        - tests/Stubs/phpstan/*
        - tests/Stubs/Illuminate/*
    universalObjectCratesClasses:
        - Erikwang2013\Season\Install
    stubFiles:
        - tests/Stubs/phpstan/illuminate.php
